.note-editor {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 700px;
  }
  
  .note-title.centered-title {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
  }
  
  .note-description {
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    overflow: auto;
    max-width: 96%;
    height: 100%;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
  }
  
  button {
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }